<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ClientSearch" connectionString="Data Source=.\SQL2012;User Id=SearchUser; Password=SearchUser; Pooling=False; Initial Catalog=ClientSearch" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>